* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #ffffcc; */
    background-color: #cadcfc;
}

nav {
    background-color: #ffd803;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

nav span {
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}

nav span:hover {
    color: #cadcfc;
}

.container .logo {
    display: flex;
    font-size: medium;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.logo img {
    height: 70px;
    margin-left: 50px;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 15px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0036b1;
    border-radius: 7px;
    color: #000;
}

/* end header */

/* start footer */
.footer {
    background: #ffd803;
    margin-top: 100px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #030068;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
    color: #fff;
}

.footer .row a i:hover {
    color: #030068;
}

/* end footer */

.btn {
    height: 40px;
    width: 20%;
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #272343;
}


.section-im {
    margin-bottom: 25px;
    width: 100%;
    margin-bottom: 15rem;
}

.main-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.main-image1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}


.head-title {
    font-size: 35px;
    font-family: "Abril Fatface", serif;
    letter-spacing: 2px;
}

.main-div {

    background-size: 100% auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(./../imgs/blog-page/main.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}


h1 {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
    text-align: center;
    margin-left: 50rem;
    padding-top: 20rem;
}

h2 {
    color: #272319;
}

h6 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 3px 3px 5px #000000;
    text-align: center;
    margin-left: 50rem;
    padding-top: 2rem;
}

h5 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff0099;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

p {
    text-align: center;
    margin-top: 1rem;
}

.section-heading {
    font-size: 54px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff0099;
    text-shadow: 3px 3px 5px #5e4d4d;
    text-align: center;
    margin: 5rem;
}

.text {
    font-size: 15px;
    color: #ffffff;
}

.button {
    margin-top: 25px;
    margin-bottom: 50px
}

/* .view-btn {
    width: 250px;
    height: 40px;
    border-radius: 25px;
    margin-left: 4.5rem;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 5px 5px 5px 5px;
}

.view-btn:hover {
    background-color: #777476;
} */

.img-fluid {
    width: 400px;
    height: 290px;
}

.img-fluid:hover {
    box-shadow: rgb(57, 56, 56) 0px 0px 13px;

}

.main-head {
    text-align: center;
    font-family: "Abril Fatface", serif;
    letter-spacing: 2px;
}



.read-more-target,
.read-more-trigger_opened {
    display: none;
}

.read-more-state:checked~.read-more-wrap .read-more-target,
.read-more-state:checked~.read-more-trigger_opened {
    display: block;
}

.read-more-state:checked~.read-more-trigger_closed {
    display: none;
}


.para {
    font-size: 17px;
    color: #ff009986;
}

.read {
    color: #ff00c8bc;

}



/* responsive */

/* Ipad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-div {
        width: 292px;
        margin: 5px;
        height: 164px;
    }
    .main-img{
        display: grid;
        margin: 19px 480px 0 193px;
        padding: 4px;
        place-content: unset;
    }
    .view-btn{
        font-size: 8px;
        margin-left: -58px;

    }
    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }
    .footer .row a i {
        margin: 0% 3%;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .footer .row a{
        font-size: 7px;
    }
    .section-heading {
        margin-left: -375px;
        font-size: 15px;
        margin-top: 25px;
        margin-bottom: 17px;
    }

    .img-fluid {
        width: 85px;
        height: 85px;
        margin: 6px -99px -12px -80px;
    }
    
    .container .logo{
        width: 10%;

    }

    .container {
        height: 45px;
    }

    .logo img {
        width: 35px;
        height: 24px;
        margin-top: 9px;
        margin-left: 0;
    }


    h2 {
        font-size: 8px;
        margin: -4px -12px;
    }

    nav ul li a {
        font-size: 7px;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        margin: 3px;
        padding: 0;
    }

    h5 {
        font-size: 5px;
        margin: 15px 0 1px -161px;
    }
    .footer .row{
        font-size: 7px;
        text-align: left;
    }
    .main-image{
        display: grid;
        margin: 19px 480px 0 193px;
        padding: 4px;
        place-content: unset;
    }
    .main-image1{
        display: grid;
        margin: 19px 480px 0 193px;
        padding: 4px;
        place-content: unset;
    }
}




/* Mobile */
@media only screen and (max-width: 767px) {}