body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:#cadcfc;;
}

nav {
  background-color: #ff8e3c;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
nav span{
  color: #ff8e3c;
  font-size: 15px;
  margin-top: 20px;
  padding-left: 20px;
  font-weight: bold;
}
nav span:hover{
  color: black;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000;
}

.back {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.container .logo{
  display: flex;
}
.top {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  font-size: 70px;
  font-weight: bolder;
  font-stretch: 300%;
  font-family: sbhed;
  text-shadow: 2px 2px 8px white; 
  padding: 20px 0;
}
.visit {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.colores12 {
  color: #e83e8c;
  font-size: 45px;
  text-align: center;
  margin-left: 45%;
  margin-bottom: 20%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.headings {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 45px;
  text-align:center;
  margin-left: 40%;
  margin-top: 200%;
}

.visit-images-containere {
  grid-column: auto;
  gap: 20px;
  margin-top: 50px;
}
.visit-img {
  height: 300px;
  margin: 2%;
  border-radius: 50%;
  padding: 12px;
  border: 3px dashed #efa1c5;
  cursor: pointer;

}

.visit-img:hover {
  border: 3px solid #e83e8c;
  opacity: .8;
}

.logo img {
  height: 50px;
  margin-left: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  font-size: 15px;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #eff0f3;
  border-radius: 7px;
}


body {
  margin: 35px auto;
  text-align: center;
  display: block;
}

/* small device */
@media screen and (max-width: 600px) {
  nav ul li a {
      font-size: 10px;
      padding: 6px;
  }

  .logo img {
      height: 25px;
      margin-left: 5px;
  }

  .content-image img {
      display: none;
  }

  .content-container .content h3 {
      font-size: 40px;
      margin-right: 80px;
      text-align: center;
  }

  .content-container .content p {
      margin-right: 80px;
      text-align: center;
  }

  .content button {
      height: 40px;
      width: 100px;
      border-radius: 10px;
      border: none;
      background-color: blue;
      color: #fff;
      margin-left: 105px;
      text-align: center;
  }

}

/* normal device */
@media screen and (min-width: 601px) and (max-width: 768px) {
  nav ul li a {
      font-size: 13px;
      padding: 7px;
  }

  .logo img {
      height: 30px;
      margin-left: 5px;
  }

  .content-image img {
      display: none;
  }

  .content-container .content h3 {
      font-size: 40px;
      margin-right: 80px;
      text-align: center;
  }

  .content-container .content p {
      margin-right: 80px;
      text-align: center;
  }

  .content button {
      height: 40px;
      width: 100px;
      border-radius: 10px;
      border: none;
      background-color: blue;
      color: blue;
      margin-left: 180px;
  }
}

/* tablet device */
@media screen and (min-width: 769px) and (max-width: 992px) {
  nav ul li a {
      font-size: 15px;
      padding: 13px;
  }

  .logo img {
      height: 40px;
      margin-left: 5px;
  }

  .content-container {
      display: inline;
  }

  .content-container .content h3 {
      font-size: 40px;
      margin-right: 80px;
      text-align: center;
  }

  .content-container .content p {
      margin-right: 80px;
      text-align: center;
  }

  .content button {
      height: 40px;
      width: 100px;
      border-radius: 10px;
      border: none;
      background-color: blue;
      color: blue;
      margin-left: 230px;
  }
}

/* large device */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  nav ul li a {
      font-size: 17px;
      padding: 15px;
  }

  .logo img {
      height: 40px;
      margin-left: 5px;
  }
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.content {
  margin-top: 70px;
  margin-left: 90px;
}

.content h3 {
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content h3 span {
  color: #ff8e3c;
}

.content p {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(94, 91, 91);
}

.content button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: white;
}

.content button:hover {
  background-color: #ff8e3c;
}

.content-image img {
  height: 550px;
  width: 550px;
  margin-top: 60px;
  margin-right: 90px;
}

.footer {
  background: #ff8e3c;
  margin-top: 100px;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #;
  margin-top: 100px;
  padding: 90px;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: white;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.footer .row a:hover {
  color: grey;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width:720px) {
  .footer {
      text-align: left;
      padding: 5%;
  }

  .footer .row ul li {
      display: block;
      margin: 10px 0px;
      text-align: left;
  }

  .footer .row a i {
      margin: 0% 3%;
  }
}