body{
 margin:0;
 padding: 0;
 font-family: "space Grotesk sans-serif";
 font-size: auto;
 background-color: #cadcfc;
 }
 nav {
  background-color:#ffd803;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
 nav span{
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  padding-left: 20px;
  font-weight: bold;
}
 nav span:hover{
  color: #cadcfc;
}

 .main img{
 width: 100%;
 height: 600px;
 }
.line2{
 text-align: center;
 padding: 10px 20px;
 font-size: 35px;
 }
  .cream1{
    background-color: #fff;
    border: 3px solid black;
    width: 350px;
   text-align: center;
   margin-inline-start: 39%;
    }
    .line{
 
      color: #e83e8c;
      text-align: center;
      margin-inline-start: 45px;
    }
    .line7{
      width: 320px;
      background-color: bisque;
      border: 3px solid black;
      text-align: center;
   }
   .line20{
    width: 320px;
    background-color: bisque;
    border: 3px solid black;
    text-align: center;
 }
 .line9{
  width: 320px;
  background-color: bisque;
  border: 3px solid black;
  text-align: center;
}
.line10{
  width: 320px;
  background-color: bisque;
  border: 3px solid black;
  text-align: center;
  
}
.ice-cream-card-container{
  display :flex;
  justify-content: space-around;
 
}
.line11{
  text-align: center;
  margin-inline-start: 25% ;
  color: #e83e8c;
  padding: 2px ;
  font-size: 20px;
}
.line17{
  text-align: center;
  margin-inline-start: 25% ;
  color: #e83e8c;
  justify-content: space-evenly;
  font-size: 20px;
}
.img1{
  
  width: 320px;
  align-items: center;
  margin-inline-start: 25% ;
  border:3px solid black;

  
}

.img2{
 margin-inline-start:25%;
 text-align: center;
 margin: 80px;
}
.img-container{
  display: flex;
  margin-right: 100px;
  
}
.line15{
  background-color: #fff;
  width: 300px;
  border: 2px solid black;
  text-align: center;
  box-shadow: -5px 5px 10px 1px #172c66;
}

.card-cantainer{
  display: flex;
  justify-content: space-around;
}

.footer-img{
  margin: 0 2px;
}
 
     /** box-8 card box**/

  .footer {
     background: #ffd803;
     margin-top: 100px;
     padding: 50px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
   }
   
   .footer .row {
     width: 100%;
     margin: 1% 0%;
     padding: 0.6% 0%;
     color: white;
     font-size: 0.8em;
   }
   
   .footer .row a {
     text-decoration: none;
     color: white;
     transition: 0.5s;
   }
   
   .footer .row a:hover {
     color: grey;
   }
   
   .footer .row ul {
     width: 100%;
   }
   
   .footer .row ul li {
     display: inline-block;
     margin: 0px 30px;
   }
   
   .footer .row a i {
     font-size: 2em;
     margin: 0% 1%;
   }
   
       @media (max-width:720px) {
     .footer {
        text-align: left;
         padding: 5%;
     }
   
     .footer .row ul li {
         display: block;
         margin: 10px 0px;
         text-align: left;
     }
   
     .footer .row a i {
         margin: 0% 3%;
     }
   }