body{
 margin:0;
 padding: 0;
 font-family: "space Grotesk sans-serif";
 font-size: auto;
 background-color: #fff;
 }
 .main img{
 width: 100%;
 height: 600px;
 }
.line2{
 text-align: center;
 padding: 10px 20px;
 font-size: 35px;
 }
  .cream1{
    background-color: #fff;
    border: 3px solid black;
    width: 350px;
   text-align: center;
   margin-inline-start: 39%;
    }
    .line{
 
      color: #e83e8c;
      text-align: center;
      margin-inline-start: 45px;
    }
    .line7{
      width: 320px;
      background-color: bisque;
      border: 3px solid black;
   }
   .line20{
    width: 320px;
    background-color: bisque;
    border: 3px solid black;
    text-align: center;
 }
 .line9{
  width: 320px;
  background-color: bisque;
  border: 3px solid black;
  text-align: center;
}
.line10{
  width: 320px;
  background-color: bisque;
  border: 3px solid black;
  
}
.ice-cream-card-container{
  display :flex;
  justify-content: space-around;
 
}